{%extend base.html%}
{%load static%}
{%block title%}
     HOME
{%end block title%}
    {%block others%}

    <script src=""></script>
    {%endblock others%}
</head>
<body>
    <nav class="flex justify-between items-center py-3 px-4 fixed w-full z-50">
        <div class="w-6/12">
            <img src="assets/netflix.png" alt="logo" class="w-5/12 md:w-2/12">
        </div>
        <div>
            <button class="bg-primary_red py-1 px-3 text-white md:text-lg rounded-md">
                Sign In
            </button>
        </div>
    </nav>
    <header class="min-h-screen bg-black bg-opacity-75 showcase border-gray-600 border -b-8 flex justj"
        <div class="z-10 h-full py32 md:py-0 text-gray-100 text-center flex items-center flex col">
            <h1 class="font-semibold text-col md:text-5xl w-10/12 md:w-3/4 text-center">
                  Unlimited movies, TV shows, and more
            </h1>
        </div>
</body>
   